# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/aplicacaoEscolaJAVA_JPA+MVC/aplicacaoEstudantes3/nbproject/private/
/aplicacaoEscolaJAVA_JPA+MVC/aplicacaoEstudantes2/build/
/aplicacaoEscolaJAVA_JPA+MVC/aplicacaoEstudantes2/nbproject/private/
/aplicacaoEscolaJAVA_JPA+MVC/aplicacaoEstudantes21/nbproject/private/
/j22-argentum/fj22-argentum/nbproject/private/
/j22-argentum/argentum-web/nbproject/private/
/j22-argentum/argentum-web/build/
/j22-argentum/argentum-web/dist/
/argentum-webDev/nbproject/private/
/argentum-webDev/build/
/argentum-webDev/dist/
/cotacaoDolar/nbproject/private/
/cotacaoDolar/build/