<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adicionaAluno</servlet-name>
        <servlet-class>Controller.aluno.EncaminhaCadastrarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarAlunos</servlet-name>
        <servlet-class>Controller.aluno.EncaminhaListaAlunos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaAluno</servlet-name>
        <servlet-class>Controller.aluno.SalvaAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaAluno</servlet-name>
        <servlet-class>Controller.aluno.ListaAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverAluno</servlet-name>
        <servlet-class>Controller.aluno.RemoverAluno</servlet-class>
    </servlet>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
